header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1111;
    transition: .3s;
    .container {
        position: relative;
        .logo {
            a {
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: .5px;
                color: $white;
                gap: 5px;
                transition: .3s;
                i {
                    transition: .3s;
                    font-size: 22px;
                }
            }
        }
        nav {
            @media (min-width: 922px) {
                display: block !important;
                ul {
                    align-items: center;
                    li {
                        a {
                            color: $white !important;
                            &::before {
                                content: "";
                                height: 2px;
                                width: 0%;
                                position: absolute;
                                left: 0;
                                top: calc(100% + 8px);
                                background-color: $white;
                                transition: .3s;
                            }
                            &:hover, &.active {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 921px) {
                display: none;
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                right: 0;
                background-color: $white;
                padding: 10px 20px;
                box-shadow: 0 3px 3px #eee;
                ul {
                    flex-direction: column;
                    li {
                        a {
                            color: $main-t !important;
                            &:hover {
                                color: $red !important;
                            }
                        }
                    }
                }
            }
            ul {
                display: flex;
                gap: 20px;
                li {
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: capitalize;
                        position: relative;
                    }
                }
            }
        }
        .toggle-nav {
            @media (min-width: 922px) {
                display: none !important;
            }
            display: flex;
            cursor: pointer;
            i {
                font-size: 20px;
                color: $white;
            }
        }
    }
    &.scrolled {
        background-color: $white;
        box-shadow: 0 5px 5px #eee;
        .container {
            .logo {
                a {
                    color: $red;
                }
            }
            nav {
                @media (min-width: 922px) {
                    ul {
                        li {
                            a {
                                color: $main-t !important;
                                &:hover, &.avtive {
                                    color: $red !important;
                                    &::before {
                                        background-color: $red !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .toggle-nav {
                i {
                    color: $main-t;
                }
            }
        }
    }
}